# bazel
bazel-bin
bazel-genfiles
bazel-out
bazel-testlogs
bazel-blaze_root

# vim
*.swp

# ycm
.ycm_extra_conf.pyc

# Android Studio
.idea/

# Python
*.pyc
**/__pycache__/

# IPython Notebook
.ipynb_checkpoints/
